body {
  font-family: Arial, sans-serif;
  background-color: rgb(51, 205, 205);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px 20px rgba(134, 123, 123, 0.1);
}
h1 {
  text-align: center;
}
.input-section {
  display: flex;
  gap: 10px;
}
input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.actions button {
  margin-left: 5px;
  background: #2196F3;
}

.delete-btn {
  background: #f44336;
}